body{
    background-image: url(wallpaper2.jpg);

}

.h1{
    text-decoration: none;
    color: rgb(172, 172, 161);
}

.table{
    background-color: rgb(223, 220, 217);
}

.button{
    font-family: "Roboto", "sans-serif";
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 15%;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.button:hover, .form button:active{
    background: #43a047;   
}

#header{
    text-align: center;
    color: blanchedalmond;
}